<div class="container">
  <div class="page-header">
    <h2><%= @rep.given_name %>
      <% unless @rep.no_calls? %>
        <%= case @rep.calls_stars
        when 5
          'is outstanding and deserves to hear it'
        when 4
          'is doing a great job'
        when 3
          'has room for improvement'
        when 2
          'needs to get better'
        when 1
          'should work on their resume'
        end %>
        <small>
          <%= display_stars @rep.calls_stars %>
      <% else %>
        needs a call. <small>Why don't you be the first to oblige?
      <% end %>
      <% if @rep.vcard %>
        <a href="<%= @rep.vcard %>" class="btn btn-default">download contact</a>
      <% end %>
    </small>
    </h2>
  </div>
  <div class="col-sm-6">
    <% if @rep.photo %>
      <img class="rep-photo" src="<%= @rep.photo %>" alt="<%= @rep.official_full %> photo portrait">
    <% else %>
      <img class="rep-photo" src="http://www.phoneyourrep.com/reps/images/person.png" alt="Person">
    <% end %>
  </div>
  <div class="col-sm-6">
    <% if @rep.no_calls? %>
      <h1>No stats available.</h1>
    <% else %>
      <h1>Call stats</h1>
      <h3><%= @rep.percent_of_calls_connected %>% were answered by a human.</h3>
      <h3><%= @rep.percent_of_calls_busy %>% got a busy signal.</h3>
      <h3><%= @rep.percent_of_calls_to_voice_mail %>% went to voicemail.</h3>
      <h3><%= @rep.percent_of_calls_that_hit_a_full_mailbox %>% were not delivered because the mailbox was full.</h3>
    <% end %>
  </div>
  <%= partial :'reps/_rep', locals: { rep: @rep } %>
  <div class="calls col-sm-12">
    <h1>Call History</h1>
    <div class="call-list col-sm-12">
      <% @rep.time_sorted_calls.each do |call| %>
        <%= partial :'calls/_call', locals: { call: call } %>
      <% end %>
    </div>
  </div>
</div>
