<!-- Call Details Modal -->
 <%= partial :'calls/_details', locals: { call: call } %>
<!-- End Call Details Modal -->

<% if current_user == call.user # Don't render the edit modal if the call isn't the user's %>
<!-- Edit Call Modal -->
  <%= partial :'calls/_edit', locals: { call: call } %>
<!-- End Edit Call Modal -->
<% end %>

<div id="call<%= call.id %>-card"class="tyr-card call-card col-sm-10 col-sm-offset-1">
  <div class="col-sm-8">
    <div class="col-sm-6">
      <h3><%= call.rep_title %></h3>
      <h3><%= call.rep_party %></h3>
    </div>
    <div class="col-sm-6">
      <h3><a href="/reps/<%= call.rep_bioguide_id %>"><%= call.rep_name %></a></h3>
    </div>
    <div class="col-sm-6">
      <h3><a href="tel:<%= call.phone_number %>"><%= call.phone_number %></a> <%= call.office_locality %></h3>
    </div>
    <div class="col-sm-6">
      <h4><%= call.time %> by
        <% if call.user %>
          <a href="/users/<%= call.user_slug %>"><%= call.user == current_user ? 'you' : "@#{call.user_slug}" %></a></h4>
        <% else %>
          anonymous
        <% end %>
    </div>
  </div>
  <div class="col-sm-4 call-rating">
    <p><%= display_stars call.rating %></p>
  </div>
  <div class="col-sm-4">
    <a href="#" class="call-details-modal-button btn btn-default" data-toggle="modal" data-target="#call<%= call.id %>-details-modal">call details</a>
    <a href="/calls/new/<%= call.office_location.id %>" class="call-again-button btn btn-primary">call now</a>
  </div>
</div>
