<% last_call = user.last_call %>
<div class="tyr-card user-card col-sm-10 col-sm-offset-1">
  <div class="page-header">
    <h3><%= user.username %></h3>
  </div>
  <div class="col-sm-4">
    <p><%= pluralize user.calls_count, 'call', 'calls' %></p>
  </div>
  <div class="col-sm-4">
    <% if user.no_calls? %>
      <p>No rating information available.</p>
    <% else %>
      <p><%= user.average_call_rating %> average rating.</p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% distinct_office_count = user.distinct_office_locations_count %>
    <p><%= user.username %> has called <%= pluralize distinct_office_count, 'office', 'offices', inner_string: 'distinct' %></p>
  </div>
  <div class="col-sm-8">
    <% if user.no_calls? %>
      <p><%= user.username %> is still waiting to make their first call.</p>
    <% else %>
      <p>Last call made <%= last_call.time %> to <a href="/reps/<%= last_call.rep_bioguide_id %>"><%= last_call.rep_name %></a> and was rated <%= pluralize last_call.rating, 'star', 'stars' %></p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <a href="/users/<%= user.slug %>" class="office-details-modal-button btn btn-primary btn-block">view user profile</a>
  </div>
</div>
