<!-- Edit Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Edit Username and Email</h2>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="/users/<%= @user.slug %>" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="form-group">
            <!-- <label for="inputUsername3" class="col-sm-2 control-label">Username</label> -->
            <div class="col-sm-8 col-sm-offset-2">
              <input type="username" name="username"class="form-control" id="inputUsername3" value="<%= @user.username %>">
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="inputEmail3" class="col-sm-2 control-label">Email</label> -->
            <div class="col-sm-8 col-sm-offset-2">
              <input type="email" name="email"class="form-control" id="inputEmail3" value="<%= @user.email %>">
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="inputPassword3" class="col-sm-2 control-label">Password</label> -->
            <div class="col-sm-8 col-sm-offset-2">
              <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password (required)" required="true">
            </div>
          </div>
          <div class="form-group tyr-modal-form-button">
            <div class="col-sm-8 col-sm-offset-2">
              <button type="submit" class="btn btn-danger btn-block">save changes</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Edit Modal -->

<!-- Change Password Modal -->
<div class="modal fade" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Change Your Password</h2>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="/users/<%= @user.slug %>" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <input type="password" name="password" class="form-control" placeholder="Re-enter old password (required)" required="true">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <input type="password" name="new_password" class="form-control" placeholder="New password (required)" required="true">
            </div>
          </div>
          <div class="form-group tyr-modal-form-button">
            <div class="col-sm-8 col-sm-offset-2">
              <button type="submit" class="btn btn-danger btn-block">save changes</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Change Password Modal -->

<div class="container">
  <div class="col-sm-12">
    <h1>Account Settings</h1>
  </div>
  <div class="tyr-card account-card col-sm-8 col-sm-offset-2">
    <div class="col-lg-4 col-lg-offset-2">
      <h3>Username:</h3>
    </div>
    <div class="col-lg-6">
      <h3><%= @user.username %></h3>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
      <h3>Email:</h3>
    </div>
    <div class="col-lg-6">
      <h3><%= @user.email %></h3>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
      <h3>Password:</h3>
    </div>
    <div class="col-lg-6">
      <h3><a id="password-modal-button" href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#password-modal">change password</a></h3>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <a id="settings-modal-button" href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#edit-modal">
        edit
      </a>
    </div>
  </div>
</div>
