<div class="profile-page container">
  <div class="col-sm-6 user-greeting">
    <% if @user == current_user %>
    <h1>
      Hello, <%= @user.username %>
    </h1>
    <div id="new-call" class="col-sm-6">
      <a href="#" class="btn btn-primary btn-block">New Call</a>
    </div>
    <% else %>
    <h1>
      <%= @user.username %>
    </h1>
    <% end %>
  </div>
  <div class="call-stats col-sm-6">
    <h3>Calls this week: <%= @user.calls.this_week.count %></h3>
    <h3>Lifetime total: <%= @user.calls.count %></h3>
  <% unless @user.calls.blank? %>
    <h3>
      Average call rating: <%= @user.calls.average('rating').round(1) %>
    </h3>
  </div>
  <div class="calls col-sm-12">
    <h1>Call History</h1>
    <div class="call-list col-sm-12">
      <% @user.calls.order('created_at DESC').each do |call| %>
      <div class="call-card col-sm-10 col-sm-offset-1">
        <div class="col-sm-8">
          <div class="col-sm-6">
            <h3><%= call.rep.official_full %></h3>
          </div>
          <div class="col-sm-6">
            <h3><%= call.rep.party_identification %></h3>
          </div>
          <div class="col-sm-6">
            <h3><a href="tel:<%= call.office_location.phone %>"><%= call.office_location.phone %></a> <%= call.office_location.locality %> Office</h3>
          </div>
          <div class="col-sm-6">
            <h3><%= call.created_at.localtime.strftime("%-m/%-d/%y at %l:%M%P") %></h3>
          </div>
        </div>
        <div class="col-sm-4 call-rating">
          <p><% call.rating.times do %><i class="fa fa-star" aria-hidden="true"></i><% end %></p>
        </div>
        <% if @user == current_user %>
        <div class="col-sm-4">
          <a href="#" class="btn btn-primary btn-block">Call again</a>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
  </div>
</div>
