<div class="profile-page container">
  <div class="col-sm-6 user-greeting">
    <% if current_user == @user %>
      <h1>
        Hello, <%= @user.username %>
      </h1>
      <div id="new-call" class="col-sm-6">
        <a href="/reps/select" class="btn btn-primary btn-block">new call</a>
      </div>
    <% else %>
      <h1>
        <%= @user.username %>
      </h1>
    <% end %>
  </div>
  <div class="call-stats col-sm-6">
    <% if @user.no_calls? %>
      <% if current_user == @user %>
        <h3>Today's a great day to make your first call.</h3>
        <h3>You'll be on the leader boards before you know it.</h3>
        <h3>
          Not sure what to say? Start
          <a href="https://www.indivisibleguide.com/resources-2/2017/2/6/scripts" target="blank">
            here.
          </a>
        </h3>
      <% else %>
        <h3><%= @user.username %> hasn't made any calls yet.</h3>
      <% end %>
    <% else %>
      <h3>Calls this week: <%= @user.recent_calls_count %></h3>
      <h3>Lifetime total: <%= @user.calls_count %></h3>
      <h3>
        Average call rating: <%= @user.average_call_rating %>
      </h3>
    </div>
    <div class="calls col-sm-12">
      <h1>Call History</h1>
      <div class="call-list col-sm-12">
        <% @user.time_sorted_calls_including_reps_and_offices.each do |call| %>
          <%= partial :'calls/_call', locals: { call: call } %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
