<div class="profile-page container">
  <div class="col-sm-6 user-greeting">
    <% if logged_in? && @user == current_user %>
    <h1>
      Hello, <%= @user.username %>
    </h1>
    <div id="new-call" class="col-sm-6">
      <a href="#" class="btn btn-primary btn-block">new call</a>
    </div>
    <% else %>
    <h1>
      <%= @user.username %>
    </h1>
    <% end %>
  </div>
  <div class="call-stats col-sm-6">
    <% if @user.calls.blank? %>
      <% if logged_in? && @user == current_user %>
        <h3>Today's a great day to make your first call.</h3>
        <h3>You'll be on the leader boards before you know it.</h3>
        <h3>
          Not sure what to say? Start
          <a href="https://www.indivisibleguide.com/resources-2/2017/2/6/scripts" target="blank">
            here.
          </a>
        </h3>
      <% else %>
        <h3><%= @user.username %> hasn't made any calls yet.</h3>
      <% end %>
    <% else %>
    <h3>Calls this week: <%= @user.calls.this_week.count %></h3>
    <h3>Lifetime total: <%= @user.calls.count %></h3>
    <h3>
      Average call rating: <%= @user.calls.average('rating').round(1) %>
    </h3>
  </div>
  <div class="calls col-sm-12">
    <h1>Call History</h1>
    <div class="call-list col-sm-12">
      <% @user.calls.order('created_at DESC').each do |call| %>
        <%= partial :'calls/_show', locals: { call: call } %>
      <% end %>
    </div>
  </div>
  <% end %>
  </div>
</div>
