<div class="profile-page container">
  <div class="col-sm-6 user-greeting">
    <% if @user == current_user %>
    <h1>
      Hello, <%= @user.username %>
    </h1>
    <div id="new-call" class="col-sm-6">
      <a href="#" class="btn btn-primary btn-block">new call</a>
    </div>
    <% else %>
    <h1>
      <%= @user.username %>
    </h1>
    <% end %>
  </div>
  <div class="call-stats col-sm-6">
    <h3>Calls this week: <%= @user.calls.this_week.count %></h3>
    <h3>Lifetime total: <%= @user.calls.count %></h3>
  <% unless @user.calls.blank? %>
    <h3>
      Average call rating: <%= @user.calls.average('rating').round(1) %>
    </h3>
  </div>
  <div class="calls col-sm-12">
    <h1>Call History</h1>
    <div class="call-list col-sm-12">
      <% @user.calls.order('created_at DESC').each do |call| %>
      <%= partial :'calls/_show', locals: { call: call } %>
      <% end %>
    </div>
  </div>
  <% end %>
  </div>
</div>
