<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Rate Your Rep</title>
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/f1f23404b6.js"></script>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Lato:300" rel="stylesheet">
    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <% unless logged_in? # don't render login or signup if user's logged in %>
      <!-- Sign Up Modal -->
      <%= partial :'_signup' %>
      <!-- End Sign Up Modal -->

      <!-- Log In Modal -->
      <%= partial :'_login' %>
      <!-- End Log In Modal -->
    <% end %>

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="color:white;"><em><strong>Rate Your Rep</strong></em></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <h5 class="navbar-text" style="color:white;">Find reps by location:</h5>
            <form class="geo-complete-form navbar-form navbar-left" action="/reps/geo" method="post">
              <div class="form-group form-address">
                <input name="address" type="text" class="geo-complete-input form-control form-input" placeholder="Enter address">
                <input name="lat" type="hidden" class="form-control form-input" id="lat" value="">
                <input name="lng" type="hidden" id="lng" value="">
              </div>
              <button type="submit" class="search-btn btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <a href="/users/<%= current_user.slug %>" class="home-btn btn btn-default navbar-left"><i class="fa fa-home" aria-hidden="true"></i></a>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;"> <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/reps">Reps</a></li>
                <li><a href="/calls">Calls</a></li>
                <li><a href="/users">Users</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/users/<%= current_user.slug %>">Profile</a></li>
                <li><a href="/users/<%= current_user.slug %>/edit">Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Log Out</a></li>
              </ul>
            </li>
            <% else %>
            <!-- Button trigger modal -->
            <li><a id="login-modal-button" href="#" data-toggle="modal" data-target="#login-modal" style="color:white;">
              Log In
            </a></li>
            <li><a id="signup-modal-button" href="#" class="btn btn-primary" data-toggle="modal" data-target="#signup-modal">
              Sign Up
            </a></li>
            <!-- Button trigger modal -->
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End Navbar -->

    <div class="col-sm-12 top-margin">
    </div>

    <% if flash[:message] %>
      <div class="alert alert-dismissable alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <% flash[:message].each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <!-- Main Page Body -->
    <%= yield %>
    <!-- End Main Page Body -->

    <!-- Footer -->
    <div class="container text-center">
    <hr />
      <div class="row">
        <div class="col-lg-12">
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="https://www.github.com/msimonborg/rate-your-rep" target="blank">Open Source</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="https://www.github.com/phoneyourrep/phone-your-rep-api" target="blank">PYR API</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="http://www.phoneyourrep.com" target="blank">Phone Your Rep</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/#about">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
        <div class="row">
          <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
              <li><a href="https://www.github.com/msimonborg" target="blank">© 2017 m. simon borg</a></li>
              <li><a href="/terms-of-service">Terms of Service</a></li>
              <li><a href="/privacy-policy">Privacy</a></li>
            </ul>
          </div>
        </div>
    </div>
    <!-- End Footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Select2 jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <!-- Google Geocomplete and Places API plugins -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN47V710PFxcFAGY3Gx6hipg7P3CWcQn8&libraries=places&v=3"></script>
    <script src="/js/jquery.geocomplete.min.js"></script>
    <!-- End of Google APIs -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
